body { font-family: Arial, Helvetica, sans-serif; font-size: 12px; }

h1 { margin:5px 0px 3px 0px; font-size:18px; color:#000; text-decoration:none; }

table,tr,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	border-collapse:collapse;
}

td {
	padding:3px;
}

table.lines,tr.lines,td.lines,th.lines { font-size: 11px; vertical-align:top; border:1px solid black; }
table.wordlist,tr.wordlist,td.wordlist,th.wordlist { font-size: 11px; vertical-align:top; border:1px solid black; }
.wordlist_title { font-size:12px; font-weight:bold; }

#if_parameters { display:none; }
#if_parameters_facebook { display:none; }
#if_parameters_youtube { display:none; }
#if_parameters_twitter { display:none; }
#if_parameters_unknown { display:none; }

#if_panel_context { display:none; width:1200px; }
#if_panel_context_data { overflow:scroll; }

#if_panel_downloads { display:none; }

.if_structure { margin:0px; }

.rowTab { display:table; padding:7px 0px 7px 0px; }
.leftTab {  display:table-cell; vertical-align:middle; padding:0px 3px 0px 3px; width:120px; }
.rightTab { display:table-cell; vertical-align:middle; padding:0px 3px 0px 3px; }
.fullTab { display:table-cell; vertical-align:middle; padding:0px 3px 0px 3px; }
.headTab { display:table-cell; vertical-align:middle; padding:5px 0px 0px 3px; font-size:14px; font-weight:bold; }
.comTab { display:table-cell; vertical-align:middle; padding:0px 3px 0px 3px; font-style:italic; color:#333; }